section .cart{
    position: relative;
    border: 1px solid #ccc;
}
.amount span{
    color: #333;
    padding: 0 20px;
}
.amount {
    display: flex;
    border: 1px solid #ccc;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}
.amount .count{
    width: 40px;
    height: 30px;
    border: none;
    outline: none;
    background: #f3f3f3;
    cursor: pointer;
}
.delete{
    position: absolute;
    top: 28px;
    right: 20px;
    color: #333;
    cursor: pointer;
    font-weight: 900;
}
.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total a{
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    color: crimson;
}